TOKEN = "TOKEN HERE"
BOT_PREFIX = 'PREFIX HERE'

API_URL = "http://localhost:8000/api/v1"

postgres_credentials = {
    "user": "USER",
    "password": "PASS",
    "database": "DB",
    "host": "IP"
}

ADMIN_GUILD_IDS = []
ADMIN_USER_IDS = []
